<div class="modal fade" id="blogerModal" aria-hidden="true" style="display: none;" data-bs-keyboard="false" data-bs-backdrop="static" >
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Добавить блогера</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                   <form id="bloger-form">
                                                   <h4 class="mt-2">Какие продукты будет рекламировать блогер?</h4>
                                                       <select id="products-select" name="bloger-products" class="form-control form-validate"></select>
                                                       <div id="bloger-details">
                                                   <h4 class="mt-2">Заполните информацию о блогере, с которым вы планируете провести рекламную кампанию</h4>
                                                   <div class="mb-3">
                                                        <label class="mb-1"><strong>Имя/никнейм блогера</strong></label>
                                                        <input type="email" name="bloger-name" class="form-control" placeholder="">
                                                        <div class="invalid-feedback">Это поле обязательно для заполнения</div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="mb-1"><strong>Ссылка на профиль</strong></label>
                                                        <input type="email" name="bloger-link" class="form-control" placeholder="https://">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="mb-1"><strong>Комментарий</strong></label>
                                                        <textarea id="comment-text" name="bloger-comment" class="form-control" rows="5" style="height: auto;"></textarea>
                                                    </div>
                                                           </div>
                                        </form>
                                        </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Закрыть</button>
                                                    <a id="save-bloger" href="javascript:void(0);" class="btn btn-success"><i class="fa fa-plus me-2"></i>Добавить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>