<div class="modal fade" id="templateModal" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Добавление шаблона</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                     <p class="card-text text-dark">Напишите текст сообщения, придумайте название, чтобы было легче найти шаблон и нажмите "Добавить" </p>
                                                <input type="text" class="form-control input-default mb-2" placeholder="Название шаблона">


                                                <textarea class="form-control" rows="5" style="height: auto;">Текст сообщения</textarea>



</div>



                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Закрыть</button>
                                                    <a href="javascript:void(0);" class="btn btn-success"><i class="fa fa-plus me-2"></i>Добавить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>