<div class="modal fade" id="productModal" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static" style="display: none;">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Создать новый продукт</h5>

                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="product-form">
                                                         <input type="hidden" name="uid" id="uid">
                                                   <div class="mb-3">
                                            <label class="mb-1"><strong>Эксперт</strong></label>
                                            <select id="expert-select" name="product-expert" class="form-control form-validate"></select>
                                            <div class="invalid-feedback">Это поле обязательно для заполнения</div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">Название продукта</label>
                                            <input type="text" id="product-name" name="product-name" class="form-control form-validate">
                                            <div class="invalid-feedback">Это поле обязательно для заполнения</div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">Ссылка на продукт (общая)</label>
                                            <input type="text" id="product-link" name="product-link" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">Цена (базовая)</label>
                                            <input type="number" id="product-price" name="product-price" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">Цена со скидкой</label>
                                            <input type="number"  id="product-promo-price"  name="product-promo-price" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">Размер комиссии менеджера (%)</label>
                                            <input type="number"  id="product-commission"  name="product-commission" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1">Размер комиссии блогера (%)</label>
                                            <input type="number"  id="product-commission2"  name="product-commission2" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Комментарий</strong></label>
                                            <textarea name="product-comment" id="product-comment" class="form-control" rows="5" style="height: auto;"></textarea>

                                        </div>
                                        </form>
                                        </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Закрыть</button>
                                                    <button id="save-product" class="btn btn-success"><i class="fa fa-plus me-2 product-save-icon"></i><span id="save-product-text">Добавить</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>