<div class="modal fade" id="communicationsModal" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Коммуникации с блогером</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <label class="mt-2">Укажите дату отправки сообщения блогеру</label>
                                                <div class="input-group">
                                                           <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                    <input name="datepicker" class="datepicker-default form-control picker__input picker__input--active" id="notify-date" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                                      </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="toastr-danger-bottom-center" class="btn btn-danger light" data-bs-dismiss="modal">Закрыть</button>
                                                    <button type="button" id="state-save" class="btn btn-primary" data-bs-dismiss="modal">Добавить</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>