<!doctype html>
<html lang="en">
{% include "head.html" %}
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
                        	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{{url_for('main')}}"><img src="{{url_for('static', filename='landing-new/img/logo-light.png')}}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="{{url_for('support', branch=product.link)}}">Техническая поддержка</a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								{% if product.main_img %}
								<img src="{{url_for('uploaded_file',landing_folder=product.link,filename=product.main_img)}}" style="max-width:740px; max-height:600px;" alt="">
								{% else %}
								<img src="{{url_for('static', filename='images/default-main-img.png')}}" style="max-width:740px; max-height:600px;" alt="">
								{% endif %}
							</div>
								<div class="media-body text-center">
		<div class="personal_text"><h4>Благодарим за покупку<br>{{product.content_info}} "{{product.name}}"</h4></div>
		<p>Для доступа к материалам - воспользуйтесь ссылками ниже</p>

				{% for attachment in attachments %}
					 <a href="{{url_for('get_files', hash=hash, content_id=attachment.id)}}" class="download_btn my-2 w-75"  target="_blank">
						 <span class="material-symbols-outlined" style="vertical-align: middle;">{% if attachment.type == 'link' %}output{% else %}file_download{% endif %}</span>
						 {{attachment.description|truncate(40)}}
					 </a>
				 {% endfor %}
		<div><small>Файлы предоставлены пользователю: {{order.mail}}</small></div>
</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================End Welcome Area =================-->
        



{% include "footer.html" %}


	    </body>
</html>

