<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Сброс пароля</title>

  <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
  <meta name="robots" content="noindex">

  {% include "css.html" %}

</head>

<body class="login">
 <div class="col-md-4 col-centered">

 </div>
  <div class="row justify-content-center">
    <div class="col-md-4 col-centered">
            <h2 class="text-primary center m-a-2">
        <i class="material-icons md-36">control_point</i> <span class="icon-text">InQuick</span>
      </h2>
 <div class="card">
          <div class="card-block center">
            <h4 class="m-b-0">
              <i class="material-icons">lock</i> <span class="icon-text">Сброс пароля</span>
            </h4>
            <p class="text-muted">Установите новый пароль</p>
            <form action="{{url_for('reset_password', hash=hash)}}" method="POST">
              <div class="form-group">
                                {{ form.password (class="form-control", placeholder="Придумайте пароль")}}
                                 {% if form.password.errors %}
                                    {% for msg in form.password.errors %}
                                     <small class="text-help">{{msg}}</small>
                                    {% endfor %}
                                    {% endif %}
              </div>
              <div class="form-group" id="confirm-password-group">
                 {{ form.confirm_password (class="form-control", placeholder="Подтвердите пароль")}}
                  <small class="text-help" class="pull-xs-right" id="pwd-msg"></small>
              </div>

            {{ form.csrf_token }}
              <button type="submit" id="signup-button" class="btn btn-primary btn-rounded" disabled>Сохранить пароль</button>

            </form>
          </div>
        </div>

  {% include "js.html" %}
    </div>
  </div>
<script>
$(document).ready(function() {

   $('#pwd-msg').hide();

});
    $("input[name=password]").keyup(function() {
  check_pwd();

});
$("input[name=confirm_password]").keyup(function() {
  check_pwd();

});
function check_pwd() {
if ($("input[name=password]").val() != $("input[name=confirm_password]").val()){
$('#signup-button').prop("disabled", true);
$('#pwd-msg').show();
$("input[name=password]").addClass('form-control-warning');
$("#confirm-password-group").addClass('has-warning');
$('#pwd-msg').text('Пароли не совпадают');

} else {
$("#signup-button").prop("disabled", false);
$('#pwd-msg').hide();
$("input[name=password]").removeClass('form-control-warning');
$("#confirm-password-group").removeClass('has-warning');
}
}

</script>
</body>

</html>
