{% extends "admin/index.html" %}


{% block container %}
<!--**********************************
            Content body start
        ***********************************-->
<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Продукты</h4>
									<button id="add-product" type="button" class="btn btn-info">Добавить продукт <span class="btn-icon-end"><i class="fa fa-plus"></i></span>
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="products-table" class="display compact" style="width:100%">
                                        <thead>
                                            <tr>

                                                <th>Наименование</th>
                                                <th>Ссылка на продукт</th>
                                                <th>Автор</th>
                                                <th style="width: 1%; white-space: nowrap;">Цена</th>
                                                <th style="width: 1%; white-space: nowrap;">Комиссия 1</th>
                                                <th style="width: 1%; white-space: nowrap;">Комиссия 2</th>

                                                <th>Комментарий</th>
                                                <th style=" width: 1%; white-space: nowrap;">Добавлено</th>
                                                <th style=" width: 1%; white-space: nowrap;"></th>
                                                <th style=" width: 1%; white-space: nowrap;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>






{% endblock %}
        <!--**********************************
            Content body end
        ***********************************-->