<!-- Material Design Icons  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Roboto Web Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

<!-- App CSS -->
<link type="text/css" href="{{ url_for('static', filename='assets/css/style.min.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-datepicker.min.css')}}">


<style>
.table-access-box {
        overflow-x: scroll;
}
.table-box {
        max-width: 100%;
    }


@media only screen and (max-width: 540px) {
      .md{
        display: flex;
        flex-wrap: wrap;
        }
      .table-box {
        overflow-x: scroll;
    }
  }

.col-centered{
    float: none;
    margin: 0 auto;
}

    .item {
  margin-left: 0 auto;
  margin-bottom: 10px;
}

.photo {
  width: 132px;
  height: 132px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.personPhoto {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.md {
  margin-top: 15px; }
  .md:first-child {
    margin-top: 0; }

.md,
.md-body {
  overflow: hidden;
  zoom: 1; }

.md-body {
  width: 10000px; }

.md-left,
.md-right,
.md-body {
  display: table-cell;
  vertical-align: top; }

.md-middle {
  vertical-align: middle; }


.md-right {
  padding-left: 10px; }

.md-left {
  padding-right: 10px; }


</style>
