{% extends "base-admin.html" %}

{% block container %}

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="active">Главная</li>
      </ol>

          <!-- Column -->
<a href="{{url_for('sales')}}" style="text-decoration:none;">
    <div class="jumbotron" style="border: 1px dashed;">
      <p class="lead center"><span class="material-icons">
grading
</span>
        Просмотреть "Продажи"
      </p>
    </div>
    </a>
<a href="{{url_for('product')}}" style="text-decoration:none;">
    <div class="jumbotron" style="border: 1px dashed;">
      <p class="lead center"><span class="material-icons">
add
</span>
        Добавить/изменить продукт
      </p>
    </div>
</a>
<a href="{{url_for('referal')}}" style="text-decoration:none;">
    <div class="jumbotron" style="border: 1px dashed;">
      <p class="lead center"><span class="material-icons">
person_add
</span>
        Пригласить рефералов
      </p>
    </div>
</a>
<div class="row">
    <h5 class="center">Сегодня</h5>

        <div class="col-md-6">
          <div class="card-primary">
            <div class="card-block">
              <i class="material-icons pull-xs-right md-48">person</i>
              <h5 class="m-b-0">{{own_sales_today|sum(attribute="sum")}} руб.</h5>
              <p class="m-a-0">Личные продажи (сегодня)</p>
            </div>
          </div>
        </div>
        <!-- // END Column -->        <!-- Column -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <i class="material-icons pull-xs-right md-48">group</i>
              <h5 class="m-b-0">{{ref_sales_today|sum(attribute="sum")}} руб.</h5>
              <p class="m-a-0">Реферальные продажи (сегодня)</p>
            </div>
          </div>
        </div>
        <!-- // END Column -->


  </div>

<div class="row">

<h5 class="center">Продукты</h5>
   <table id="sales" class="table table-striped table-hover table-sm">
<thead>
<th>Название</th>
<th>Автор</th>
<th>Переходы</th>
</thead>
            {% for product in user.products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.author.username.capitalize()}} ({{product.author.promocode}})</td>
                <td>{{product.conversions}}</td>

            </tr>
            {% endfor %}
        </table>
<a href="{{url_for('product')}}">Открыть "Продукты"</a>
</div>






{% endblock %}
